:root {
  --oscar-gold: #d4af37;
  --oscar-dark-gold: #b8860b;
  --oscar-black: #111111;
  --oscar-white: #ffffff;
  --oscar-red: #8b0000;
  --oscar-charcoal: #55565A;
  --oscar-winner: var(--oscar-gold);
  --user-choice-primary: #114E43;
  --user-choice-secondary: #196853;
}
